.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    font-size: 1.4rem;
}

.content {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 18%;
    justify-content: space-between;
    background-color: var(--color-grey-dark-1);
}


.hotel-view {
    background-color: var(#fff);
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    font-size: 1.4rem;

}

.user-reviews {
    background-color: yellowgreen;
    flex: 1;
}